  *      {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5DC;
    background-size: cover;
    border: 15px solid #F5F5DC;
    overflow-x: hidden;
}

.container {
    height: 80vh;
    padding: 50px;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #222d52;
    padding: 15px 30px; 
    color: #222d52;
    height: 60px; 
    z-index: 1000;
    border-bottom: 2px solid #222d52;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo img {
    width: 90px; 
    height: auto;
}

.nav-links {
    display: flex;
    gap: 20px; 
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #f4a261;
    background: GRAY;
    border-radius: 5px;
}

.text {
    font-family: sans-serif;
    font-size: 70px;
    font-style: italic;
    color: cyan;
    max-width: 500px;
    margin: 0;
    padding: 0;
}
