#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5DC;
    border: 15px solid #222d52;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #222d52;
    padding: 10px 30px;
    color: white;
    height: 50px;
    z-index: 1000;
    border-bottom: 2px solid #222d52;
}

.navbar a {
    font-size: 27px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.navbar a:hover {
    color: #f4a261;
    background: gray;
    transform: scale(1.1);
}

.container {
    height: 80vh;
    padding: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-section {
    max-width: 800px;
}

.logo img {
    width: 80%;
    transform: translate(20%, -10%);
}

.h1 {
    font-size: 65px;
    outline-color: white;
    color: #007B7F;
    max-width: 500px;
    transform: translate(30%, -60px);
}

button {
    color: #666;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #007B7F;
    background-color: white;
    transform: translate(30%, -60px);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #007B7F;
    color: white;
    text-decoration: none;
    transform: translate(30%, -60px) scale(1.05);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #222d52;
}

.pic1 {
    position: absolute;
    right: 0;
    top: 70%;
    transform: translate(-180%, -50%);
    width: 16%;
    transition: transform 0.4s ease-in-out;
}

.pic1:hover {
    transform: translate(-180%, -50%) scale(1.05);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .h1 {
        font-size: 40px;
        transform: translate(0, 0);
    }

    .pic1 {
        position: relative;
        width: 80%;
        transform: translate(0, 0);
        margin-top: 20px;
    }
}
