* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222d52;
    padding: 15px 0px;
    color: white;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 50px;
    margin-right: 10px;
}

.navbar .text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #f4a261;
    background: gray;
    border-radius: 5px;
    padding: 10px 15px;
}
