.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1600px;
    margin: auto;
    background-color: transparent;
    border-radius: 4PX;
}
.product-container {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.product {
    background-color: white;
    padding: 15px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.product-container:hover .product img {
    transform: scale(1.05);
}

.product h3 {
    margin: 10px 0;
}

.product p {
    font-size: 18px;
    color: #333;
}

/* Button Styling */
.product button {
    background-color: #f4a261;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #e76f51;
}

.like-button {
            background-color: white;
            border: none;
            font-size: 40px;
            cursor: pointer;
            transition: 0.3s;
        }
        .liked {
            color: red;
        }