  *      {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
}


.container {
    height: 80vh;
    padding: 100px 50px 50px;
    position: relative;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222d52;
    padding: 15px 30px;
    color: white;
    transition: background 0.3s ease-in-out;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 50px;
    margin-right: 10px;
}

.navbar .text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #f4a261;
    background: gray;
    border-radius: 5px;
    padding: 10px 15px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 600px;
    background: #222d52; 
    border-radius: 5px;
    padding: 5px;
}

.search-container input {
    flex: 1; /* Takes full space */
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.search-container button {
    background: cyan;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.search-container button i {
    color: white;
    font-size: 18px;
}
.text {
    font-family: sans-serif;
    font-size: 70px;
    font-style: italic;
    color: cyan;
    max-width: 500px;
    margin: 0;
    padding: 0;
}

.cart-button {
    position: relative;
    font-size: 18px;
    background-color: #ff6600;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.cart-button:hover {
    background-color: #e65c00;
}

#cart-count {
    background: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}